<!DOCTYPE html>
<html>
  <head>
    <title>ざっくり家計簿2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.calculator.css">
    <script type="text/javascript" src="js/jquery.plugin.js"></script>
    <script type="text/javascript" src="js/jquery.calculator.js"></script>
  </head>

  <body>
  <div class="container">
    <div class="col-md-offset-1">
    <%= yield %>
    </div>
  </body>
</html>
