<h1>2019家計簿</h1>
<table>
  <thead>
    <tr>
     
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.date %></td>
        <td><%= task.title %></td>
        <td><%= task.place %></td>
        <td><%= task.price %></td>
        <td><%= task.description %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add', new_task_path%>